<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/About.css">
    <link href="../assets/img/logo.jpg" rel="icon">
    <title>About Us</title>
</head>

<body>
    <nav>
    <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="../Assets/img/logo.jpg" class ="logo" alt="Nkumba high school">
        <ul>
            <li><a class="active" href="Index.html">Home</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="learning.html">Learning</a></li>
            <li><a href="admission.html">Admissions</a></li>           
            <li><a href="#">Careers</a></li>            
            <li><a href="#">News and Updates</a></li>
           <li><a href="enquiries.html"  class="btn2">Enquire</a></li>            
        </ul>
        </nav>
        <div class="welcome-principle">
            <h3> A Tradition Of Excellence</h3>
            <p>Nkumba High School develops a feeling of togetherness among
                 the students and staff, and parents. In this approach is an atmosphere of mutual care, respect and discipline. We also emphasize on extra-curricular activities
                 and pastoral care to nurture a well rounded and enterprising student.</p>
        </div>
        <section class="principle">
           <div class="card2">
            <img class="principle1" src="../Assets/img/principle.png" alt="principle">
           </div>
           <div class="card2" id="principle-message">
            <p>
                At Nkumba high school, we believe that the success of our school is measured by the value that we add to each individual student.
                We strive to instill an international mindset that promotes empathy for others, the acceptance of diversity, 
                and a caring responsibility for the wider community in our students. Our dedicated team of staff help all students
                to achieve their full potential, preparing them for success in college and life thereafter.
                Our goal is to develop intellectual curiosity and to create life-long learners, through preparing students for continued
                success in the real world. We strive to demonstrate a superior ability to foster excellence in education and contribute
                to the improvement of pupils learning.We empower students with a holistic education that encourages critical thinking,
                creativity and innovation; and take great pleasure in the pursuit of knowledge and understanding; but most importantly,
                encourage our students to use their skills and intelligence to benefit the society.
                Every child matters at Nkumba high, and we aim to achieve the highest standards of education within a caring and stimulating
                environment. We are committed to ensuring that all our students achieve their full potential and enjoy their learning.
            </p>
            <h3 class="about">School Principle<br>
            Mr. Allan Ouma </h3>
           </div>
        </section>
        <section class="grid-container">
            <div class="card-main">
                <div class="grid-item"> <h3>OUR OBJECTIVES</h3></div>
                <div class="grid-item">
                    <img class="grid-img" src="../Assets/care (1).jpg" alt="care">
                </div>
                <div class="grid-item">
                    <h5>
                        MAIN OBJECTIVES
                    </h5>
                    <p>
                        To promote a smooth transition from home to school.<br>
                        To develop student language skills by reading interesting stories to them.<br>
                        To prepare young learners for higher education.<br>
                        To provide quality education to the community and the country.<br>
                    </p>
                </div>
            </div>
            <div class="card-main">
                <div class="grid-item"> <h3>OUR MISSION</h3></div>
                <div class="grid-item">
                    <img class="grid-img" src="../Assets/img/freetime.jpeg" alt="care2">
                </div>
                <div class="grid-item">
                    <h5>MISSION STATEMENT</h5>
                    <p>To empower students to strive for excellence, fostering an environment for curiosity, creativity and responsibility</p>
                    <h5>VISION STATEMENT</h5>
                    <p>We strives to empower every student to achieve academic execellence and develop essential life skills in a supportive environment.
                        promoting a culture of respect, creativity, and community engagement.</p>
                </div>
            </div>
            <div class="card-main">
                <div class="grid-item"> <h3>OUR HERITAGE</h3></div>
                <div class="grid-item">
                    <img class="grid-img" src="../Assets/img/tradition.jpg" alt="care">
                </div>
                <div class="grid-item">
                    <h5>
                        OUR HISTORY
                    </h5>
                    <p>
                        Nkumba High School is private school established by the community to provide education to the students within and outside the community.
                        The school started in 2010 on the request of the community. Its located in Nkumba sub-county Entebbe district about 4km from Entebbe high way.
                    </p>
                </div>
            </div>
        </section>
       <!-- <section class="slides">
           <div class="myslide fade">
                <div class="numbertext">1 / 5</div>
                <img src="Assets/img/tradition.jpg" id="img-about" style="width:100%">
                <div class="text">We Are Traditional</div>
           </div> 
           
           <div class="myslide fade">
                <div class="numbertext">2 / 5</div>
                <img src="Assets/care (1).jpg" id="img-about" style="width:100%">
                <div class="text">We Care</div>
           </div>
           <div class="myslide fade">
                <div class="numbertext">3 / 5</div>
                <img src="Assets/img/home2.jpg" id="img-about" style="width:100%">
                <div class="text">We Achieve</div>
           </div>
           <div class="myslide fade">
                <div class="numbertext">4 / 5</div>
                <img src="Assets/img/library.jpeg" id="img-about" style="width:100%">
                <div class="text">A Fully Stocked Library</div>
           </div>
           <div class="myslide fade">
                <div class="numbertext">5 / 5</div>
                <img src="Assets/img/interactive.jpg" id="img-about" style="width:100%">
                <div class="text">Our Study Is Interactive</div>
           </div>


           <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
           <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>

        <br>

        The dots/circles 
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>-->



        <footer class="footer">
            <div class="footer-container">
                <div class="school">
                    <img class="footer-logo" src="../Assets/img/logo.jpg">
                    
                </div>
                <div class="accounts-contacts">
                    <h4>Accounts</h4><br>
                    <p>Tel: 020 3877138</p><br>
                    <p>Mobile: (+256) 748-986033</p><br>
                    <p>accounts@Nkumbahigh.ac.ug</p><br>
                    <p>P.O. Box 21784-00505</p>
                </div>
                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <a  id="footer-link" href="#">Fees Structure</a><br>
                    <a  id="footer-link" href="#">Our students</a><br>
                    <a  id="footer-link" href="#">Our Teachers</a><br>
                    <a  id="footer-link" cl href="#">Gallary</a><br>
                    <a  id="footer-link" href="#">Our Parents</a><br>     
                    <a  id="footer-link" href="#">Upcomming Events</a> <br>
                            
                </div> 
                <div class="footer-contacts">
                    <h4>Contact Us</h4>
                    <p id="footer-p">Email: info@Nkumbahighschool.ac.ug</p>
                    <p id="footer-p">Phone: +256 720 456 789</p>
                    <div class="social">
                        <a href="#"> <img class="facebook"  src="../Assets/img/icons/facebook.png"></a>
                        <a href="#"> <img class="twitter"  src="../Assets/img/icons/twitter.png"></a>
                        <a href="#"> <img class="linkedin"  src="../Assets/img/icons/linkedin.png"></a>
                        <a href="#"> <img class="youtube"  src="../Assets/img/icons/youtube-line.png"></a>
                        <a href="#"> <img class="whatsapp"  src="../Assets/img/icons/whatsapp.png"></a>
                    </div>
                </div>              
            </div>        
        </footer>
        <script src="About.js"></script>
</body>
</html>