<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width,
                   initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../css/main.css">
    <link href="../assets/img/logo.jpg" rel="icon">
    <title>NKUMBA HIGH SCHOOL</title>
</head>

<body class="index">
    <nav>
    <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="../Assets/img/logo.jpg" class ="logo" alt="Nkumba high school">
        <ul>
            <li><a class="active" href="Index.html">Home</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="learning.html">Learning</a></li>
            <li><a href="admission.html">Admissions</a></li>           
            <li><a href="#">Careers</a></li>            
            <li><a href="#">News and Updates</a></li>
           <li><a href="enquiries.html"  class="btn2">Enquire</a></li>            
        </ul>
    </nav>
    <section class="index">
        <div class="home_photo">
           <!--<img src="Assets/img/home.jpg" alt="#">--> 
        </div>
    </section>

    <section>
        <div class="welcome">
            <span>
                <h1>WELCOME TO</h1><br>
                <h1>NKUMBA HIGH SCHOOL</h1>
            </span>
        </div>
        
     <a href="../registration/form.html" target="_blank" class="btn1">START YOUR JOURNEY HERE</a> 
    </section>
    <section class="vision">
        <div class="core">
            <h3>Academic Excellence</h3>
            <p>
                Academics is at the core of what we do. 
                Our students learn to effectively question, critique, analyse and create through our inquiry-based instruction and project-based learning model to prepare them for the future.
                 Read more about our students Uganda National Examination Board <b>(UNEB)</b> academic performance.
                  Read more about our students academic performance <a href="#"> here.</a>
            </p>
        </div>
    </section>
    <!--<hr>-->
    <footer class="footer">
        <div class="footer-container">
            <div class="school">
                <img class="footer-logo" src="../Assets/img/logo.jpg">
                
            </div>
            <div class="accounts-contacts">
                <h4>Accounts</h4><br>
                <p>Tel: 020 3877138</p><br>
                <p>Mobile: (+256) 748-986033</p><br>
                <p>accounts@Nkumbahigh.ac.ug</p><br>
                <p>P.O. Box 21784-00505</p>
            </div>
            <div class="footer-links">
                <h4>Quick Links</h4>
                <a  id="footer-link" href="#">Fees Structure</a><br>
                <a  id="footer-link" href="#">Our students</a><br>
                <a  id="footer-link" href="#">Our Teachers</a><br>
                <a  id="footer-link" cl href="#">Gallary</a><br>
                <a  id="footer-link" href="#">Our Parents</a><br>     
                <a  id="footer-link" href="#">Upcomming Events</a> <br>
                        
            </div> 
            <div class="footer-contacts">
                <h4>Contact Us</h4>
                <p id="footer-p">Email: info@Nkumbahighschool.ac.ug</p>
                <p id="footer-p">Phone: +256 720 456 789</p>
                <div class="social">
                    <a href="#"> <img class="facebook"  src="../Assets/img/icons/facebook.png"></a>
                    <a href="#"> <img class="twitter"  src="../Assets/img/icons/twitter.png"></a>
                    <a href="#"> <img class="linkedin"  src="../Assets/img/icons/linkedin.png"></a>
                    <a href="#"> <img class="youtube"  src="../Assets/img/icons/youtube-line.png"></a>
                    <a href="#"> <img class="whatsapp"  src="../Assets/img/icons/whatsapp.png"></a>
                </div>
            </div>              
        </div>        
    </footer>
</body>

</html>