@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color: #f7c703;
    --text-dark: #030303;
    --text-light: #676767;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.index {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-image: url("../Assets/img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /**/
    
  }
 
  
 nav {
    background-color: rgb(17, 2, 71);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    max-width: 60px;
    height: auto;
    border-radius: 5px;
    box-shadow: #676767;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: lightgreen;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  .btn2 {
    border: none;
    border-radius: 10px;
    
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 700px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: #676767;
  }
  
  .welcome {
    color: var(--white);
    margin: 50px 0px 25px 40px;
    font-family: "Roboto", "sans-serif";
    font-weight: 700px;
    font-size: 25px;
  }
  .btn1{
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin: 50px ;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 700px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: #676767;
    text-decoration: none;
  }
  .btn1:hover, .btn2:hover {
    background-color: var(--white);
    color: black;
    opacity: 0.8;
    transition: 0.9;
    transition: color 0.3s;
  }
  .vision {
    border: none;
    background-color: rgb(16, 16, 92);
    width: fit-content;
    
    display: flex;
    position: relative;
    margin-top: 75px;
    margin-left: 25%;
    margin-right: 2%;
    border-radius: 2px 25px;    
  }
  .core {
    color: var(--white);
    font-family: "Roboto", "sans-serif";
    font-weight: var(--text-dark);
    font-size: 20px;
    padding: 10px;
  }
  h3{
    padding:10px ;
    text-align: center;
  }
  .school {
    margin-top: 10px;
    margin-left: 20px;
  }

  .footer{
    background-color: rgb(89, 89, 126);
    opacity: 90%;
    padding: 20px 0; 
    margin-top: 20px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-between;
  }
  .footer-logo{
    width: 150px;
    height: 150px; 
    margin-top: 10px; 
    border-radius: 5px;
  }
  .social {
    border: none;
    width: fit-content;
  
  }
  .facebook {
    border: none;
    background-color: rgb(3, 3, 71);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  .whatsapp {
    border: none;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  .youtube {
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  .linkedin {
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  .twitter {
    border: solid;
    border-color: #030303;
    width: 35px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }
  .school, .accounts-contacts, .footer-links, .footer-contacts {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
 
  #footer-link{
    text-decoration: none;
    color: var(--white);
  }
  
  .accounts-contacts{
    color: var(--white);
    margin: 15px;
  }
  h4 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
  }
  .footer-links { 
    margin-top: 15px;
  }
  .footer-contacts {
    color: var(--white);
    margin: 15px;
  }
  #footer-p {
    margin: 10px;
  }
  
  /*hr {
    margin: 5px;
    width: 100%;
  }*/
  @media (max-width: 600px){
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    .school, .footer-contacts, .footer-links, .accounts-contacts, .social {
      min-width: 100%;
      text-align: center;
    }
  }
  
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.8s;
    }
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }






  

 


 